In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import re

In [2]:
df = pd.read_csv('dataset_laptops.csv',index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 97
Data columns (total 7 columns):
name             98 non-null object
price            98 non-null object
rating           32 non-null object
photo            98 non-null object
total_reviews    20 non-null object
total_rating     32 non-null object
link             98 non-null object
dtypes: object(7)
memory usage: 6.1+ KB

In [77]:
df.head()

,name,price,rating,photo,total_reviews,total_rating,link
0,HP 15 Di0006TU 15.6-inch Laptop (8th Gen i3-81...,32149,NaN,https://n4.sdlcdn.com/imgs/j/b/a/HP-15-Di0006T...,NaN,NaN,https://www.snapdeal.com/product/hp-15-di0006t...
1,ASUS VivoBook 15 X509 ( Core i3- 7th Gen/4 GB/...,30990,(3.5),https://n2.sdlcdn.com/imgs/i/6/h/ASUS-VivoBook...,NaN,2 Ratings,https://www.snapdeal.com/product/asus-vivobook...
2,Dell Inspiron 3567 Notebook (6th Gen Intel Cor...,28990,(3.5),https://n3.sdlcdn.com/imgs/g/8/x/81M_QrtU30L__...,\n7 Reviews\n,40 Ratings,https://www.snapdeal.com/product/dell-inspiron...
3,Dell Vostro 3581 (Core i3-7th Gen/4 GB RAM/1 T...,28100,(4.8),https://n2.sdlcdn.com/imgs/i/3/9/Dell-Vostro-3...,NaN,4 Ratings,https://www.snapdeal.com/product/dell-vostro-3...
4,ASUS VivoBook 15 X509 ( Core i3- 7th Gen/4 GB/...,29490,(4.0),https://n4.sdlcdn.com/imgs/i/5/5/ASUS-VivoBook...,NaN,1 Rating,https://www.snapdeal.com/product/asus-vivobook...

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496 entries, 0 to 495
Data columns (total 7 columns):
name             496 non-null object
price            496 non-null object
rating           85 non-null object
photo            496 non-null object
total_reviews    57 non-null object
total_rating     85 non-null object
link             496 non-null object
dtypes: object(7)
memory usage: 31.0+ KB

In [80]:
def clean_review(val):
    if val!=val:
        return np.nan
    elif bool(re.search(r'\d', val)):
        numbers = re.findall('\d+',val)
        numbers = int("".join(numbers))
        return  numbers
    else:
        return val